body {
  font-size: 3rem;
}

form.controls {
  position: absolute;
  top:0;right:0;
  border: 1px solid rgba(0,0,0,.5);
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  display: none;
}
form.controls label {
  display: flex;
  flex-direction: row;
  justify-content: end;
}
form.controls input {
  font-size: 1rem;
  margin-left: .5rem;
}

form.problem {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
}
form.problem label {
  margin: 1rem;
  outline: 1px auto;
  padding: .9rem 1rem;
  position: relative;
  text-align:right;
}
form.problem input {
  font-size: inherit;
  text-align:right;
}
form>input[type=submit] {
  display: none;
}
label {
  opacity: .5;
}
label.active {
  opacity: 1;
  box-shadow: 0 0 1rem rgba(128, 128, 0, .8);
}
label i {
  display: none;
  position: absolute;
  right: -1.5rem;
  bottom: -1.5rem;
  background-color:white;
  border-radius: 50%;
  padding: 0;
  box-shadow: 0 0 .3rem;
}
label i.right {
  color: green;
}
label i.wrong {
  color: red;
}
label.right {
  background: rgba(128, 255, 128, .5);
}
label.wrong {
  background: rgba(255, 128, 128, .5);
}
form.problem label.right i.right,
form.problem label.wrong i.wrong {
  display: inline;
}
form.problem label.right i.wrong,
form.problem label.wrong i.right {
  display: none;
}
label input {
  vertical-align: top;
  width: 4rem;
  border: 1px solid rgba(0,0,0,.5);
}
div.nums {
  text-align:right;
  display:flex;
  flex-flow:column nowrap;
  position: relative;
  font-family:monospace;
  border-bottom:2px solid rgba(0,0,0,.5);
  margin:0 0 .5em;
  padding-left:1em;
}
div.nums>.operator {
  position:absolute;
  bottom:0;left:0;
}
div.nums+input {
}
label.wrong input {
  border-color: red;
}
label.right input {
  border-color: green;
}

button.regenerate {
  float: right;
  padding: .5rem 1rem;
}

input:not(:checked) + div.time {
  display: none;
}
